npm install webpack webpack-cli webpack-dev-server babel-loader @babel/core @babel/preset-env @babel/preset-react html-webpack-plugin css-loader style-loader --save-dev
npm install axios
npm install react-router-dom
npm install react-router-dom framer-motion @mui/material @mui/icons-material axios
npm install react-icons
npm install @react-google-maps/api
npm install redux react-redux
npm install aos
npm install -D tailwindcss postcss autoprefixer
npx tailwindcss init
npm install styled-components
@reduxjs/toolkit
npm install redux-persist





